<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="border border-opacity-50 rounded p-5 text-center">
          <h3 class="mb-5">Resend confirmation instructions</h3>
          
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %> 

            <div class="row">
              <div class="col mb-4">
                <%= f.email_field :email, 
                    autofocus: true, 
                    autocomplete: "email", 
                    class: "form-control form-control-lg", 
                    placeholder: 'Email', 
                    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) 
                %>
              </div>
            </div>

            <div class="d-grid">
              <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-lg btn-block" %>
            </div>
          <% end %>

          <hr class="my-4">

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
