<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6a40da;">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo', height: '30px' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to Transaction.model_name.plural.humanize, transactions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to Category.model_name.plural.humanize, categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to Account.model_name.plural.humanize, accounts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to CreditCard.model_name.plural.humanize, credit_cards_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav text-end">
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag 'profile-user', height: '30px' %>
              <%=
                max_length = 15
                if current_user.name.present?
                  profile_name = current_user.name.split(' ').reduce('') do |result, name|
                    break result if result.length + name.length > max_length

                    "#{result} #{name}"
                  end.strip
                else
                  profile_name = current_user.email.split('@').first
                end
              %>
            </a>
            <ul class="dropdown-menu text-small">
              <li><%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <% if user_signed_in? %>
                <li>
                  <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>