<div id="<%= dom_id credit_card %>">
  <p>
    <strong>Name:</strong>
    <%= credit_card.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= credit_card.kind %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= credit_card.balance %>
  </p>

  <p>
    <strong>Closes day:</strong>
    <%= credit_card.closes_day %>
  </p>

  <p>
    <strong>Expire day:</strong>
    <%= credit_card.expire_day %>
  </p>

</div>
