<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset <%= disabled && "disabled" %>>
    <div class="row mb-3">
      <div class="col-4">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="col-2">
        <%= form.label :kind, class: "form-label" %>
        <%= form.select :kind, Category.kinds.keys.map { |k| [k.humanize, k] }, {}, { class: "form-select" } %>
      </div>
    </div>

    <% if !disabled %>
      <div class="d-flex justify-content-end">
        <%= form.submit nil, class: "btn btn-success" %>
      </div>
    <% end %>
  </fieldset>
<% end %>
