<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset <%= disabled && "disabled" %>>
    <div class="row mb-3">
      <div class="col-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <div class="col-3">
        <%= form.label :kind, class: "form-label" %>
        <%= form.select :kind, Transaction.kinds.keys.map { |k| [k.humanize, k] }, {}, { class: "form-select", disabled: "true" } %>
      </div>

      <% unless transaction.transfer? %>
        <div class="col-3">
          <%= form.label :category_id, class: "form-label" %>
          <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "Select a category" }, class: "form-control" %>
        </div>
      <% end %>

      <div class="col-3">
        <% if transaction.accountable_type == "Account" %>
          <%= form.label :accountable_id, "Account", class: "form-label" %>
          <%= form.collection_select :accountable_id, @accounts, :id, :name, { prompt: "Select a account" }, class: "form-control" %>
        <% elsif transaction.accountable_type == "CreditCard" %>
          <%= form.label :accountable_id, "Credit card", class: "form-label" %>
          <%= form.collection_select :accountable_id, @credit_cards, :id, :name, { prompt: "Select a credit card" }, class: "form-control" %>
        <% end %>
      </div>

      <% unless transaction.transfer? %>
        <div class="col-3">
          <%= form.label :emitted_at, class: "form-label" %>
          <%= form.date_field :emitted_at, class: "form-control" %>
        </div>
      <% end %>

      <div class="col-3">
        <%= form.label :amount, class: "form-label" %>
        <%= form.text_field :amount,   step: 0.01, class: "form-control" %>
      </div>

      <div class="col-12">
        <%= form.label :observation, class: "form-label" %>
        <%= form.text_area :observation, size: "70x5", class: "form-control" %>
      </div>
    </div>

    <% if !disabled %>
      <div class="d-flex justify-content-end">
        <%= form.submit nil, class: "btn btn-success" %>
      </div>
    <% end %>
  </fieldset>
<% end %>
