<div id="<%= dom_id transaction %>">
  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= transaction.kind %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= transaction.categories_id %>
  </p>

  <p>
    <strong>Accounts:</strong>
    <%= transaction.accounts_id %>
  </p>

  <p>
    <strong>Due at:</strong>
    <%= transaction.due_at %>
  </p>

  <p>
    <strong>Amount to pay:</strong>
    <%= transaction.amount_to_pay %>
  </p>

  <p>
    <strong>Paid at:</strong>
    <%= transaction.paid_at %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= transaction.amount_paid %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= transaction.observation %>
  </p>

</div>
