<!DOCTYPE html>
<html>
  <head>
    <title>BudgetBuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# 
      #00004e
      #000380
      #0303b5
      #6a40da
      #a875ff
     %>

     <%= favicon_link_tag 'favicon' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "base/navbar" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
